.notepad-app-title {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}


.notepad-app-title span {
    font-style: italic;
    font-weight: normal;
}


.notepad-and-created-notes {
    display: flex;
    justify-content: center;
}


.notepad-container {
    max-width: 280px;
    min-width: 280px;
    border: 2px solid var(--purple);
    margin: 5px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}


.clear-storage-btn {
    display: block;
    margin: 5px auto 15px auto;
    width: 150px;
    height: 30px;
    border: none;
    background: var(--medium-gray);
    border: 2px solid var(--medium-gray);
    border-radius: 10px;
    font-size: 16px;
    color: var(--white);
}

.clear-storage-btn:hover {
    transform: scale(0.97);
    cursor: pointer;
    border: 2px solid var(--purple);
    background: var(--sand);

}

.created-notes-box {
    margin: 5px auto;
    width: 70%;
}


.notepad-title-input {
    display: block;
    width: 200px;
    padding: 5px 10px;
    height: 30px;
    margin: 10px auto 0px auto;
    border: 1px solid var(--medium-gray);
}


.notepad-textarea {
    margin: 0 auto;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    display: block;
    padding: 5px 10px;
    border: 1px solid var(--medium-gray);
}



.notepad-save-btn {
    display: block;
    margin: 5px auto;
    width: 150px;
    height: 50px;
    border: none;
    background: var(--purple);
    border: 2px solid var(--bright-purple);
    border-radius: 10px;
    font-size: 16px;
    color: var(--white);
}


.notepad-save-btn:hover {
    cursor: pointer;
    transform: scale(0.97);
}

.created-notes-box {
    display: flex;
    flex-wrap: wrap;
}

.one-note {
    width: 250px;
    height: 200px;
    overflow-x: hidden;
    border: 1px solid var(--sand);
    padding: 5px;
    margin: 5px;
}

.one-note:hover {
    cursor: pointer;
    background: var(--sand);
}

.one-note-title {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: var(--bright-purple);
}

.one-note-description {
    font-size: 16px;
    font-style: italic;
    color: var(--purple);
}


.note-edit-button {

border: 2px solid gold;
margin: 5px;
background: white;

}



.note-edit-button:hover {

}



.note-delete-button {

border: 2px solid gold;
margin: 5px;
background: white;
}



.note-delete-button:hover {

}



@media screen and (max-width: 570px) {
    .notepad-and-created-notes {

        display: flex;
        flex-direction: column;
    }

    .notepad-container {
        margin: 5px auto;
    }

}